<div class="list-container">
  <div class="slim-list">
    <div *ngFor="let debt of debts" class="debt-item" (click)="openDebtDialog(debt)">
      <div class="item-left">
        <div class="name">{{ debt.name }}</div>
        <div class="spacer"></div>
        <div class="amount">
          {{ debt.amountOwed | currency }}
          <span class="amount-label">owed</span>
        </div>
      </div>

      <div class="item-right">
        <div class="item-meta">
          <span class="frequency-tag">{{ debt.frequency }}</span>
        </div>
        <mat-icon class="chevron">chevron_right</mat-icon>
      </div>
    </div>

    <div *ngIf="debts.length === 0" class="no-data-slim">
      <mat-icon>info_outline</mat-icon>
      <p>No debt accounts found.</p>
    </div>
  </div>
</div>
